.create-menu{
    background-color:#fcfbfc;
    border-right:1px solid #cccccc;

}

.create-menu h2{
    font-size:1.5em;
}


.create-menu li, .create-menu p{
    font-size:0.85em;
    color:#7f7f7f;
    margin-bottom:5px;
}

.paso{
    transition:all 1s ease;
    border:0;
    background-color:rgba(0,0,0,0);
    overflow:hidden;
    word-wrap:break-word;
}

.paso div{
    overflow:hidden;
    word-wrap:break-word;
}

.paso li{
    list-style-type:none;
}

.option-list-squares > div{
    text-align:center;
    width:100%;
    border:1px solid #ced4da;
    transition:all 0.13s ease;
    cursor:pointer;
}

object,svg{
    cursor:pointer;
}

.opcionseleccionada{
    transition:all 0.5s ease;
}

.opcionseleccionada > div{
    border:5px solid #1bb76e;
}

.opcionseleccionada > div p{
    color:#1bb76e;
}


.option-list-squares >div:hover{
    border:5px solid #1bb76e;
}

.option-list-squares >div:hover p{
    color:#1bb76e;
}


.option-list-squares > div:after{
    content: "";
    display: block;
    padding-top: 100%;  /* initial ratio of 1:1*/
}

.option-list-squares .content{
    position: absolute;
    width: 100%;
    height: 100%;
}

.option-list-squares img{
    width:70%;
}
