/* INICIO FEED */

.contenedor-feed {}


.card-contenido,
.card-content-attached,
.card-footer {
    padding: .75rem 1.25rem
}


.alert-danger a {
    color: #721c24;
    font-weight: bold;
}

.posteo img {
    width: 50px;
}

.dificultad img {
    width: 20px;
}

.card-footer span,
.card-footer form {
    cursor: pointer;
    transition: all 0.25s ease;
}

.card-footer span:hover {
    transform: scale(1.15);
}

span.likes:hover {
    color: #dd0000;
}

span.comments:hover {
    color: #1bb76e;
}

span.compartidos:hover {
    color: #0366d6;
}

.metadata.d-flex span:first-child {
    margin-right: 30px;
}

.imagen-feed>div {
    width: 100%;
    height: 300px;
    background-position: center;
    background-size: cover;
}

.categorias-feed a {
    transition: all 0.25s ease;
}

.categorias-feed a:hover {
    color: #1bb76e;
}

.notificacion {}

button:focus {
    outline: none !important;
}

.defaultButton {
    border: 0;
    background: none;
}

.modal-register .left img{
    height:calc(100% + 40px);
    bottom:40px;
    left:-50px;
}

.modal-register li{
    margin-bottom:5px;
}

.modal-register ul{
    list-style-type: none;
}

.modal-register i{
    margin-right:10px;
}