/* INICIO INDEX */

/* COLORES */

/* FONTS */

/* EFECTOS VISUALES */

.hero {
  background-image: url(/images/hero-background.jpg?35ce1715b84b02ca51fd3f4ffb5c9879);
  background-size: cover;
  background-repeat: no-repeat;
}

.hero__row .row__col:first-child .col__title {
  text-shadow: 0px 0px 12px rgba(0, 0, 0, 0.34);
  font-weight: 700;
}

.hero__row .row__col:nth-child(2) {
  background-color: #fff;
  border-radius: 10px;
}

.pasos .col__img {
  width: 30%;
  transition: all 0.25s ease;
}

.pasos .col__img:hover {
  transform: scale(1.1);
}

.categorias {
  background-image: url(/images/misc-background.jpg?5d2757a8b7a6d8abc10bc58d26ffb05a);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #2e3035;
}

.carousel__inner {
  overflow: visible;
  top: 50px;
}

.carousel__inner .col__item {
  border-radius: 30px;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.25s ease;
}

.carousel__inner .col__item:hover {
  transform: scale(1.05);
}

.carousel__inner .col__item .item__img {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.destacados .col__a {
  transition: all 0.25s ease;
}

.destacados .col__a:hover {
  transform: scale(1.05);
}

.destacados .row__usuarios .col__img {
  max-width: 100px;
}

.carousel-control-prev.desktop {
  left: -150px;
}

.carousel-control-next.desktop {
  right: -150px;
}

@media screen and (max-width: 768px) {
  .categorias {
    background-image: none;
  }
}

