.contenedor-main-votar-respuesta{
    height: 100vh;
}
.contenedor-votar-respuesta{
    max-width: 900px;
    /* border-radius: 5px;
    box-shadow: 0px 5px 10px rgba(00, 00, 00, 1); */
    height: 100vh;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "title imagen imagen"
    "title imagen imagen"
    "info  info   info"
    ;
    align-items: center;
    justify-items: center;
    padding: 2em;
}

.contenedor-title-votar-respuesta{
    grid-area: title;
    z-index: 2;
}

.contenedor-title-votar-respuesta h1{
    font-size: 2em;
    margin: 0;
}

.texto-gris{
    color:#8E8E8E;
}

.contenedor-imagen-votar-respuesta{
    grid-area: imagen;
    overflow: hidden;
    z-index: 1;
}
.contenedor-imagen-votar-respuesta img{
    height: 100%;
}

.contenedor-informacion-votar-respuesta{
    grid-area: info;
    justify-self: left;
}

.contenedor-informacion-votar-respuesta h2{
    font-size: 1.5rem;
}
.contenedor-informacion-votar-respuesta > *{
    grid-area: info;
    margin-bottom: 1rem;
}

.contenedor-botones-votar-respuesta{
    display: flex;
    flex-direction: row;
}

.contenedor-botones-votar-respuesta a{
    display: block;
    padding: .5em 0;
    width: 8em;
    text-align: center;
    border-radius: 5px;
    margin-right: 1em;
}

.boton-votar{
    background-color: #1bb76e;
    color: white;
}

.boton-ver-respuestas{
    background-color: #F4F4F4;
    color: #1bb76e;
}



/*Estilos contenedor de tarjetas*/


.contenedor-menu-elegir{
    display: grid;
    padding: 1em;
    overflow: scroll;
    overflow-x: hidden;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    max-width: 900px;
    border-radius: 5px;
}


.contenedor-menu-elegir .title{
    text-align: center;
}

.contenedor-menu-elegir::-webkit-scrollbar{
    width: 10px;
}

.contenedor-menu-elegir::-webkit-scrollbar-track{
    border-radius: 5px;
}

.contenedor-lista-respuesta {
    display: grid;
    grid-template-rows: 1fr;
}

.contenedor-respuesta{
    display: grid;
    max-width: 900px;
    height: 15em;
    border-radius: 5px;
    border-left: 5px solid #1bb76e;
    background-color: #f4f4f4;
    grid-template-areas: 
    "contenido contenido"
    ;
}

.contenedor-user-info{
    grid-area: contenido;
    padding: 1.5em;
    display: flex;
    flex-direction: column;
}

.user-info-header img{
    border-radius: 100%;
}

.user-info-header span{
    font-weight: bold;
    margin-left: 5px;
}

.contenedor-user-descripcion{
    max-height: 5em;
    overflow: auto;
}


.contenedor-user-botones a{
    display: inline-block;
    width: 7em;
    text-align: center;
    font-weight: bold;
    /* padding: .3em 0.8em; */
    border-radius: 4px;
    border: #1bb76e 2px solid ;
}

.contenedor-user-botones a:last-child{
    font-weight: 300;
    border: none;
    
}

@media(min-width: 700px){
    
    .contenedor-main-votar-respuesta{
        background-color: #1bb76e;
        display: grid;
        justify-content: center;
        align-items: center;
    }
    
    .contenedor-votar-respuesta{
        border-radius: 5px;
        box-shadow: 0px 5px 10px #8E8E8E80;
        height: 80%;
        grid-template-areas: 
        "title imagen imagen"
        "title imagen imagen"
        "info  imagen  imagen"
        ;
        align-items: stretch;
        justify-items: stretch;
    }
    
    .contenedor-title-votar-respuesta{
        align-self: end;
        margin-bottom: 6em;
    }
    
    .contenedor-imagen-votar-respuesta{
        padding: 2em;
    }
    
    .contenedor-menu-elegir{
        height: 80%;
        max-width: 900px;
    }
    .contenedor-lista-respuesta {
        /* height: 100vh; */
        display: grid;
        /* background-color: #ffffff; */
        grid-template-columns: repeat(2,1fr);
        grid-column-gap: 1em;
    }
}

